Font Style for website .azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */

/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
  margin-right: 150px;
}

.nav-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

nav a,
li {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.btn {
  position: static;
  width: 180px;
  height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 24px 17px 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

/* first section  */
.bg-first-section {
  background: url(../assets/Hero-bg.png);
  width: 1440px;
  height: 652px;
  left: 0;
  right: 0;
  top: 131px;
  bottom: 4462px;
}

.first-section-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first-section-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 25px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}

.first-section-image {
  margin-top: 15px;
}

.first-section-details {
  position: static;
  width: 852px;
  height: 52px;

  display: flex;
  flex-direction: column;
  justify-content: ce;
  align-items: center;
  flex: none;
  order: 1;
  margin: 24px 0px;

  opacity: 0.7;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.first-section-btn {
  width: 208px;
  height: 66px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px 24px 21px 24px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 32px 0px;

  border-radius: 8px;

  background: rgb(13, 19, 33);

  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

/* second section div */

.second-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin-left: 148px;
  margin-top: 74px;
  margin-right: 152px;
}

.second-section-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.second-section-details {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 852px;
}

/* second section div one  */

.second-first-div {
  border-radius: 16px;

  background: linear-gradient(90deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 100%);
  /* Frame 8 */
  position: relative;
  width: 800px;
  height: 200px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 48px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-left: 97px;
  margin-top: 80px;
  margin-right: 97px;
}

.second-first-div-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.second-first-div-detals {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 450px;
}

.second-first-div-one-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
  color: rgb(24, 27, 34) font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.second-first-div-two img {
  height: 140px;
}


/* second section div  */

.second-second-div {
  position: static;
  width: 946px;
  height: 336px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 48px;
  margin-right: 97px;
  margin-top: 32px;

  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.second-second-div-one img {
  height: 140px;
}

.second-second-div-two-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.second-second-div-two-details {

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  display: flex;
  align-items: center;
  width: 450px;
}

.second-second-div-two-btn {

  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
  color: rgb(24, 27, 34) font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* ------------------------------------------------------------- */


.second-third-div {
  border-radius: 16px;

  background: linear-gradient(90deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 100%);
  /* Frame 8 */
  position: relative;
  width: 800px;
  height: 200px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 48px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-left: 97px;
  margin-top: 32px;
  margin-right: 97px;
  margin-bottom: 32px;

}

.second-third-div-one-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.second-third-div-one-detals {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 450px;
}

.second-third-div-one-btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: white;
  color: rgb(24, 27, 34) font-family: Azeret Mono;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.second-third-div-two img {
  height: 140px;
}

/* ------------------------------------------------------------------------ */
/*                           3rd Section                                    */
/* ------------------------------------------------------------------------ */

/* third section */
.third-section {
  width: 1140px;
  margin: 100px auto 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Azeret Mono;
}

.third-section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-section-details {
  text-align: center;
  width: 1080px;
}

.third-section-div-two {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  width: 1140px;
  height: 614px;
  padding: 32px;
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* --------------------------------------------------------------- */

.fourth-section {
  width: 1140px;
  margin: 111px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Azeret Mono;
}

.fourth-section-div-one {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fourth-section-div-two {
  margin-left: 200px;
  margin-right: 200px;
}

.fourth-section-div-two-div-one {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  /* Frame 10 */
  position: static;
  width: 320px;
  height: 305px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
}

.fourth-section-div-two-div-two {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);

  position: static;
  width: 320px;
  height: 305px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
}

.fourth-section-div-two-div-three {
  border-radius: 16px;

  background: rgba(255, 223, 0, 0.05);

  position: static;
  width: 320px;
  height: 305px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
}

.fourth-section-div-one-details {
  text-align: center;
}

.fourth-section-div-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------------------- */

.section-5 {
  position: static;
  width: 1140px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Align content at the start vertically */
  align-items: center;
  /* Center content horizontally */
  padding: 0px;
  font-family: Azeret Mono;
  margin: 111px auto;
  /* Center the section itself horizontally */
}

.section-5-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
  text-align: center;
  margin-top: 20px;
  /* Adjust the value to position nearly at the top */
}

.section-5-common {

  position: static;
  width: 1140px;
  height: 120px;
  padding: 30px;
  margin: 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-5-common-2 {
  width: 897px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

/* --------------------------------------------------------------- */

.section-6 {


    margin-top: 50px;
    border-radius: 16px;
    background: rgba(14, 13, 13, 0.644), rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.2), url(Email);
  
    position: absolute;
    width: 1110px;
    height: 250px;
    left: 150px;
    right: 150px;
    top: 4752px;
    bottom: 179px;

    margin-bottom: 100px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px 64px 48px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.section-6-div {

  /* Frame 9 */
  position: static;
  width: 1044px;
  height: 186px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-bottom: 50px;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
}

.section-6-div h2 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.section-6-div p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;

  opacity: 0.7;

  margin-bottom: 40px;

}

.section-6-div-1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}


.input-box {
  /* Frame 7 */
position: static;
width: 548px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;
font-family: Azeret Mono;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px;

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.submit-box {
  /* Frame 8 */
position: static;
width: 120px;
height: 58px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 20px 17px 20px;
font-family: Azeret Mono;color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
margin-left: 0;

border-radius: 8px;

background: rgb(255, 255, 255);

}

.first-section-btn a {
  text-decoration: none;
  color: #fff;
}


footer {
  background-color: rgba(13, 19, 33, 0.03);
  
  height: 100px;
  margin-top: 300px;
  margin-left: 0px;
  margin-bottom: 0px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer h3 {
  padding-left: 150px;
}

footer div {
  padding-right: 150px;
}