/* Font Style for website  */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* ----------------------------------------------------------------- */
/* shared style */

/* ------------------------------------------------------------------ */
/* nav style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 50px;
  margin-right: 150px;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

nav a,
li {
  text-decoration: none;
}

nav ul {
  list-style: none;
}
.btn {
  /* Download Resume */
  position: static;
  width: 180px;
  height: 24px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 24px 17px 24px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

/* ---------------------------------------------------- */

/* first section  */

.bg-first-section {
  background: url(../assets/Hero-bg.png);
  /* Hero-bg */
  position: absolute;
  width: 1440px;
  height: 652px;
  left: 0;
  right: 0;
  top: 131px;
  bottom: 4462px;
}

.first-section-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first-section-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 25px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

.first-section-image {
  margin-top: 30px;
}

.first-section-details {
  position: static;
  width: 852px;
  height: 52px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;

  opacity: 0.7;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  justify-content: center;

  rgb(13, 19, 33)

}
